html {
    font-family: 'Manrope', sans-serif;
    margin: 0;
}

body {
    /* background-image: url("/assets/img/unsplash_M7GddPqJowg.png"); */
    margin: 0;
    padding: 0;
}

.first-page {
    background-image: url("/assets/img/unsplash_M7GddPqJowg.png");
    height: 1002px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.topnav {
    display: flex;
    position: relative;
    width: 100%;
}

.gloritel {
    position: absolute;
    width: 91.49px;
    height: 32.72px;
    left: 100.54px;
    top: 25.77px;
    font-style: normal;
    font-weight: 400;
    font-size: 25.3953px;
    line-height: 35px;
    color: #FFFF;
}

.navbar {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 525.81px;
    height: 34.02px;
    left: 667.57px;
    top: 26.8px;
}

a {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-decoration: none;
    color: #FFFF;
}

a:hover {
    color: blue;
}

.login-btn {
    position: absolute;
    width: 105.26px;
    height: 34.02px;
    left: 1281.86px;
    top: 26.8px;
    border: none;

    background: #FDC463;
    box-shadow: inset 6.25px -6.25px 6.25px rgba(194, 185, 185, 0.1), inset -6.25px 6.25px 6.25px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6.25px);

    border-radius: 3.40909px;
}